<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/?action=about">About</a>
        </li>
    </ul>

    {% block content %}
    {% endblock %}
</body>
</html>