{% extends 'base.html.twig' %}

{% block nav_home %}
    active
{% endblock %}

{% block content %}

    <h1>Home page</h1>
    <ul>
        <li>
            <a href="index.php?action=about">about page</a>
        </li>
    </ul>

{% endblock %}